@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-color: #282A35;
}

.code-indent {
    text-indent: 20px;
}

/* navbar starts here */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 12px;
}

.left ul {
    display: flex;
    list-style: none;
}

.left ul li a img {
    height: 42px;
    width: 45px;
}

.logo {
    margin-right: 5px;
    padding: 12px;
}

.logo:hover {
    filter: brightness(0.9);
}

.dropdown {
    display: inline-block;
    padding: 25px 16px;
    position: relative;
}

.dropdown:hover {
    background-color: #04AA6D;
    cursor: pointer;
}

.dropdown:hover .dropdown-btn {
    color: white;
}

.dropdown .dropdown-btn {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.dropdown-content {
    display: none;
    padding-top: 50px;
    position: absolute;
}

.dropdown-content a {
    color: white;
}

.dropdown:hover .dropdown-content {
    display: none;
}

.right ul {
    display: flex;
    list-style: none;
    padding: 25px 0;
}

.nav-btn-black {
    background-color: #282A35;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
    margin-right: 15px;
    padding: 10px 16px;

}

.nav-btn-pink {
    background-color: #FFC0C7;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    padding: 10px 16px;
}

.nav-btn-pink:hover {
    background-color: #ffb3bb;
}

.nav-btn-yellow {
    background-color: #FFF4A3;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    padding: 10px 20px;
}

.nav-btn-yellow:hover {
    background-color: #fff080;
}

.nav-btn-green {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-right: 15px;
    padding: 10px 40px;
}

:where(.nav-btn-black, .nav-btn-green):hover {
    opacity: 0.9;
}

.nav-icon {
    font-size: 18px;
    padding: 25px 12px;
}


.nav-icon:hover {
    color: #04AA6D;
}

/* navbar ends here */

/* hero section starts here */
#hero {
    padding: 150px 0;
}

.hero {
    text-align: center;
}

.learntocodeh1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.learntocodeh3 {
    color: #FFC0C7;
    font-size: 23px;
    margin-bottom: 30px;
}

.hero-form {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.hero-form input {
    border: 1px solid #282A35;
    border-radius: 25px 0px 0px 25px;
    border-right: none;
    font-size: 16px;
    padding: 14px;
    padding-left: 20px;
    width: 30%;
}

.hero-form a {
    background-color: #04AA6D;
    border: 1px solid #282A35;
    border-left: none;
    border-radius: 0 25px 25px 0;
    color: white;
    font-size: 20px;
    padding: 10px;
    padding-right: 38px;
    text-align: right;
    width: 7%;
}

.hero-form input:focus {
    outline: none;
}

.hero-form input::placeholder {
    font-weight: 600;
}

.hero-last-line {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
}

.hero-last-line a {
    color: white;
}

.hero-last-line a:hover {
    color: #04AA6D;

}

/* hero section ends here */

/* html section starts here */
#html {
    background-color: #D9EEE1;
    display: flex;
    justify-content: center;
    padding: 90px 0;
}

.html-left {
    text-align: center;
}

.html-left-heading {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
}

.html-left-description {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}

.html-left-btn {
    display: flex;
    flex-direction: column;
}

.html-left-btn-green {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.html-left-btn-green:hover {
    background-color: #059862;
}

.html-left-btn-yellow {
    background-color: #FFF4A3;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.html-left-btn-yellow:hover {
    background-color: #fff080;
}

.html-left-btn-black {
    background-color: #282A35;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.html-left-btn-black:hover {
    background-color: black;
}

.html-left-btn-pink {
    background-color: #FFC0C7;
    border-radius: 25px;
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.html-left-btn-pink:hover {
    background-color: #ffb3bb;
}

.html-right {
    background-color: #E7E9EB;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left: 130px;
    padding: 30px 15px 15px;
    width: 50%;
}

.html-right-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.html-right-code {
    background-color: white;
    border-left: 4px solid #04AA6D;
    height: 75%;
    padding: 15px;
}

.html-right-code span {
    display: block;
    font-family: monospace;
    font-size: 16px;
    line-height: 25px;
}

.html-right-btn {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
    padding: 10px 50px;
}

.html-right-btn:hover {
    background-color: #059862;
}

/* html section ends here */

/* css section starts here */
#css {
    background-color: #FFF4A3;
    display: flex;
    justify-content: center;
    padding: 90px 0;
}

.css-left {
    text-align: center;
}

.css-left-heading {
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 15px;
}

.css-left-description {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}

.css-left-btn {
    display: flex;
    flex-direction: column;
}

.css-left-btn-green {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.css-left-btn-green:hover {
    background-color: #059862;
}

.css-left-btn-black {
    background-color: #282A35;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.css-left-btn-black:hover {
    background-color: black;
}

.css-left-btn-pink {
    background-color: #FFC0C7;
    border-radius: 25px;
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.css-left-btn-pink:hover {
    background-color: #ffb3bb;
}

.css-right {
    background-color: #E7E9EB;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left: 130px;
    padding: 30px 15px 15px;
    width: 50%;
}

.css-right-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.css-right-code {
    background-color: white;
    border-left: 4px solid #04AA6D;
    height: 75%;
    padding: 15px;
}

.css-right-code span {
    display: block;
    font-family: monospace;
    font-size: 16px;
    line-height: 25px;
}

.css-right-btn {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
    padding: 10px 50px;
}

.css-right-btn:hover {
    background-color: #059862;
}

/* css section ends here */

/* js section starts here */
#js {
    background-color: #282A35;
    display: flex;
    justify-content: center;
    padding: 90px 0;
}

.js-left {
    text-align: center;
}

.js-left-heading {
    color: white;
    font-size: 75px;
    font-weight: 700;
    margin-bottom: 25px;
}

.js-left-description {
    color: white;
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}

.js-left-btn {
    display: flex;
    flex-direction: column;
}

.js-left-btn-green {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.js-left-btn-green:hover {
    background-color: #059862;
}

.js-left-btn-white {
    background-color: white;
    border-radius: 25px;
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.js-left-btn-white:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.js-left-btn-pink {
    background-color: #FFC0C7;
    border-radius: 25px;
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.js-left-btn-pink:hover {
    background-color: #ffb3bb;
}

.js-right {
    background-color: #E7E9EB;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left: 130px;
    padding: 30px 15px 15px;
    width: 50%;
}

.js-right-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.js-right-code {
    background-color: white;
    border-left: 4px solid #04AA6D;
    height: 70%;
    padding: 15px;
}

.js-right-code span {
    display: block;
    font-family: monospace;
    font-size: 16px;
    line-height: 25px;
}

.js-right-btn {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
    padding: 10px 50px;
}

.js-right-btn:hover {
    background-color: #059862;
}

/* js section ends here */

/* python section starts here */
#python {
    background-color: #F3ECEA;
    display: flex;
    justify-content: center;
    padding: 90px 0;
}

.python-left {
    text-align: center;
}

.python-left-heading {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
}

.python-left-description {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}

.python-left-btn {
    display: flex;
    flex-direction: column;
}

.python-left-btn-green {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.python-left-btn-green:hover {
    background-color: #059862;
}

.python-left-btn-black {
    background-color: #282A35;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.python-left-btn-black:hover {
    background-color: black;
}

.python-left-btn-pink {
    background-color: #FFC0C7;
    border-radius: 25px;
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.python-left-btn-pink:hover {
    background-color: #ffb3bb;
}

.python-right {
    background-color: #E7E9EB;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left: 130px;
    padding: 30px 15px 15px;
    width: 50%;
}

.python-right-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.python-right-code {
    background-color: white;
    border-left: 4px solid #04AA6D;
    height: 70%;
    padding: 15px;
}

.python-right-code span {
    display: block;
    font-family: monospace;
    font-size: 16px;
    line-height: 25px;
}

.python-right-btn {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
    padding: 10px 50px;
}

.python-right-btn:hover {
    background-color: #059862;
}

/* python section ends here */

/* sql section starts here */
#sql {
    background-color: #96D4D4;
    display: flex;
    justify-content: center;
    padding: 90px 0;
}

.sql-left {
    text-align: center;
}

.sql-left-heading {
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
}

.sql-left-description {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 30px;
}

.sql-left-btn {
    display: flex;
    flex-direction: column;
}

.sql-left-btn-green {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.sql-left-btn-green:hover {
    background-color: #059862;
}

.sql-left-btn-black {
    background-color: #282A35;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.sql-left-btn-black:hover {
    background-color: black;
}

.sql-left-btn-pink {
    background-color: #FFC0C7;
    border-radius: 25px;
    color: black;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 68%;
}

.sql-left-btn-pink:hover {
    background-color: #ffb3bb;
}

.sql-right {
    background-color: #E7E9EB;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-left: 130px;
    padding: 30px 15px 15px;
    width: 50%;
}

.sql-right-heading {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.sql-right-code {
    background-color: white;
    border-left: 4px solid #04AA6D;
    height: 70%;
    padding: 15px;
}

.sql-right-code span {
    display: block;
    font-family: monospace;
    font-size: 16px;
    line-height: 25px;
}

.sql-right-btn {
    background-color: #04AA6D;
    border-radius: 25px;
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 18px;
    padding: 10px 50px;
}

.sql-right-btn:hover {
    background-color: #059862;
}

/* sql section ends here */

/* card-big section starts here */
#card-big {
    background-color: #282A35;
    padding: 64px 0px;
}

.card-big-row1 {
    display: flex;
    justify-content: space-between;
}

.card-big-php {
    background-color: pink;
    border-radius: 5px;
    margin: 2% 3%;
    padding: 24px;
    text-align: center;
    width: 50%;
}

.card-big-php-heading {
    font-size: 45px;
    margin: 16px 0;
}

.card-big-php-description {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 40px;
}

.card-big-jquery {
    background-color: #FFF4A3;
    border-radius: 5px;
    margin: 2% 3%;
    padding: 24px;
    text-align: center;
    width: 50%;
}

.card-big-jquery-heading {
    font-size: 45px;
    margin: 16px 0;
}

.card-big-jquery-description {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 40px;
}

.card-big-row2 {
    display: flex;
    justify-content: space-between;
}

.card-big-java {
    background-color: #F3ECEA;
    border-radius: 5px;
    margin: 2% 3%;
    padding: 24px;
    text-align: center;
    width: 50%;
}

.card-big-java-heading {
    font-size: 45px;
    margin: 16px 0;
}

.card-big-java-description {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 40px;
}

.card-big-c {
    background-color: #D9EEE1;
    border-radius: 5px;
    margin: 2% 3%;
    padding: 24px;
    text-align: center;
    width: 50%;
}

.card-big-c-heading {
    font-size: 45px;
    margin: 16px 0;
}

.card-big-c-description {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 40px;
}

.card-big-row3 {
    display: flex;
    justify-content: space-between;
}

.card-big-w3css {
    background-color: #96D4D4;
    border-radius: 5px;
    margin: 2% 3%;
    padding: 24px;
    text-align: center;
    width: 50%;
}

.card-big-w3css-heading {
    font-size: 45px;
    margin: 16px 0;
}

.card-big-w3css-description {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 40px;

}

.card-big-bootstrap {
    background-color: #E7E9EB;
    border-radius: 5px;
    margin: 2% 3%;
    padding: 24px;
    text-align: center;
    width: 50%;
}

.card-big-bootstrap-heading {
    font-size: 45px;
    margin: 16px 0;
}

.card-big-bootstrap-description {
    color: #3a3a3a;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0 40px;
}

.card-big-btn {
    background-color: #282A35;
    border-radius: 25px;
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    margin-bottom: 16px;
    padding: 8px 16px;
    width: 200px;
}

.card-big-btn:hover {
    background-color: black;
}

/* card-big section ends here */

/* card-small section starts here  */
.card-small-row1,
.card-small-row2,
.card-small-row3,
.card-small-row4,
.card-small-row5,
.card-small-row6,
.card-small-row7,
.card-small-row8,
.card-small-row9,
.card-small-row10,
.card-small-row11 {
    display: flex;
    justify-content: space-between;
}

.card-small-row1-c,
.card-small-row1-csharp,
.card-small-row10-excel,
.card-small-row10-googlesheets,
.card-small-row11-machinelearning,
.card-small-row11-artificialintelligence {
    border-radius: 5px;
    margin: 26px 40px;
    opacity: 0.9;
    padding: 36px 24px;
    width: 50%;
}

.card-small-row1-c {
    background-color: #ffc0c7;
}

.card-small-row1-csharp {
    background-color: #fff4a3;
}

.card-small-row10-excel {
    background-color: #96d4d4;
}

.card-small-row10-googlesheets {
    background-color: #fff4a3;
}

.card-small-row11-machinelearning {
    background-color: #ffc0c7;
}

.card-small-row11-artificialintelligence {
    background-color: #f3ecea;
}

:where(.card-small-row1-c,
    .card-small-row1-csharp,
    .card-small-row10-excel,
    .card-small-row10-googlesheets,
    .card-small-row11-machinelearning,
    .card-small-row11-artificialintelligence):hover {
    opacity: 1;
}

.card-small-row2-r,
.card-small-row2-kotlin,
.card-small-row2-nodejs,
.card-small-row2-react,
.card-small-row3-json,
.card-small-row3-angularjs,
.card-small-row3-mysql,
.card-small-row3-xml,
.card-small-row4-saas,
.card-small-row4-icons,
.card-small-row4-rwd,
.card-small-row4-graphics,
.card-small-row5-svg,
.card-small-row5-canvas,
.card-small-row5-raspberrypi,
.card-small-row5-cybersecurity,
.card-small-row6-colors,
.card-small-row6-git,
.card-small-row6-matplotlib,
.card-small-row6-numpy,
.card-small-row7-pandas,
.card-small-row7-scipy,
.card-small-row7-asp,
.card-small-row7-accessibility,
.card-small-row8-appml,
.card-small-row8-go,
.card-small-row8-typescript,
.card-small-row8-django,
.card-small-row9-mongodb,
.card-small-row9-statistics,
.card-small-row9-datascience,
.card-small-row9-typingspeed {
    border-radius: 5px;
    margin: 26px 40px;
    opacity: 0.9;
    padding: 36px 24px;
    width: 25%;
}

.card-small-row2-r {
    background-color: #f3ecea;
}

.card-small-row2-kotlin {
    background-color: #D9EEE1;
}

.card-small-row2-nodejs {
    background-color: #96d4d4;
}

.card-small-row2-react {
    background-color: #ffc0c7;
}

.card-small-row3-json {
    background-color: #fff4a3;
}

.card-small-row3-angularjs {
    background-color: #F3ECEA;
}

.card-small-row3-mysql {
    background-color: #d9eee1;
}

.card-small-row3-xml {
    background-color: #96d4d4;
}

.card-small-row4-saas {
    background-color: #ffc0c7;
}

.card-small-row4-icons {
    background-color: #fff4a3;
}

.card-small-row4-rwd {
    background-color: #F3ECEA;
}

.card-small-row4-graphics {
    background-color: #D9EEE1;
}

.card-small-row5-svg {
    background-color: #96d4d4;
}

.card-small-row5-canvas {
    background-color: #ffc0c7;
}

.card-small-row5-raspberrypi {
    background-color: #fff4a3;
}

.card-small-row5-cybersecurity {
    background-color: #f3ecea;
}

.card-small-row6-colors {
    background-color: #d9eee1;
}

.card-small-row6-git {
    background-color: #96d4d4;
}

.card-small-row6-matplotlib {
    background-color: #ffc0c7;
}

.card-small-row6-numpy {
    background-color: #fff4a3;
}

.card-small-row7-pandas {
    background-color: #f3ecea;
}

.card-small-row7-scipy {
    background-color: #d9eee1;
}

.card-small-row7-asp {
    background-color: #96d4d4;
}

.card-small-row7-accessibility {
    background-color: #ffc0c7;
}

.card-small-row8-appml {
    background-color: #fff4a3;
}

.card-small-row8-go {
    background-color: #f3ecea;
}

.card-small-row8-typescript {
    background-color: #d9eee1;
}

.card-small-row8-django {
    background-color: #96d4d4;
}

.card-small-row9-mongodb {
    background-color: #ffc0c7;
}

.card-small-row9-statistics {
    background-color: #fff4a3;
}

.card-small-row9-datascience {
    background-color: #f3ecea;
}

.card-small-row9-typingspeed {
    background-color: #d9eee1;
}

:where(.card-small-row2-r,
    .card-small-row2-kotlin,
    .card-small-row2-nodejs,
    .card-small-row2-react,
    .card-small-row3-json,
    .card-small-row3-angularjs,
    .card-small-row3-mysql,
    .card-small-row3-xml,
    .card-small-row4-saas,
    .card-small-row4-icons,
    .card-small-row4-rwd,
    .card-small-row4-graphics,
    .card-small-row5-svg,
    .card-small-row5-canvas,
    .card-small-row5-raspberrypi,
    .card-small-row5-cybersecurity,
    .card-small-row6-colors,
    .card-small-row6-git,
    .card-small-row6-matplotlib,
    .card-small-row6-numpy,
    .card-small-row7-pandas,
    .card-small-row7-scipy,
    .card-small-row7-asp,
    .card-small-row7-accessibility,
    .card-small-row8-appml,
    .card-small-row8-go,
    .card-small-row8-typescript,
    .card-small-row8-django,
    .card-small-row9-mongodb,
    .card-small-row9-statistics,
    .card-small-row9-datascience,
    .card-small-row9-typingspeed):hover {
    opacity: 1;
}

.card-small-row1-c-heading,
.card-small-row1-csharp-heading,
.card-small-row10-excel-heading,
.card-small-row10-googlesheets-heading,
.card-small-row11-machinelearning-heading,
.card-small-row11-artificialintelligence-heading {
    font-size: 30px;
    font-weight: 600;
    margin: 10px 0;
    text-align: center;
}

.card-small-row2-r-heading,
.card-small-row2-kotlin-heading,
.card-small-row2-nodejs-heading,
.card-small-row2-react-heading,
.card-small-row3-json-heading,
.card-small-row3-angularjs-heading,
.card-small-row3-mysql-heading,
.card-small-row3-xml-heading,
.card-small-row4-saas-heading,
.card-small-row4-icons-heading,
.card-small-row4-rwd-heading,
.card-small-row4-graphics-heading,
.card-small-row5-svg-heading,
.card-small-row5-canvas-heading,
.card-small-row5-raspberrypi-heading,
.card-small-row5-cybersecurity-heading,
.card-small-row6-colors-heading,
.card-small-row6-git-heading,
.card-small-row6-matplotlib-heading,
.card-small-row6-numpy-heading,
.card-small-row7-pandas-heading,
.card-small-row7-scipy-heading,
.card-small-row7-asp-heading,
.card-small-row7-accessibility-heading,
.card-small-row8-appml-heading,
.card-small-row8-go-heading,
.card-small-row8-typescript-heading,
.card-small-row8-django-heading,
.card-small-row9-mongodb-heading,
.card-small-row9-statistics-heading,
.card-small-row9-datascience-heading,
.card-small-row9-typingspeed-heading {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

/* card-small section ends here  */